spring:
  application:
    name: lived

  datasource:
    url: "${RDS_URL}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useLegacyDatetimeCode=false&forceConnectionTimeZoneToSession=true&connectionTimeZone=Asia/Seoul"
    username: "${RDS_USERNAME}"
    password: "${RDS_PASSWORD}"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jackson:
    time-zone: Asia/Seoul
    date-format: yyyy-MM-dd

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc.batch_size: 20
        jdbc.time_zone: Asia/Seoul
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - profile
              - email
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
            client-name: Kakao
            scope:
              - profile_nickname
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_S3_BUCKET}
    region:
      static: ap-northeast-2
    stack:
      auto: false

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-expiration: 36000000000
  refresh-token-expiration: 1209600000

app:
  frontend-url: https://saraboni.co.kr

logging:
    level:
      root: info
      com.lived: info

server:
  forward-headers-strategy: native

gemini:
  api-url: https://generativelanguage.googleapis.com/v1/models/gemini-1.5-flash:generateContent
  api-key: ${GEMINI_API_KEY}